* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  background: #41585e;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: ABeeZe, cursive;
  position: fixed;
  z-index: 20;
  width: 100%;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
}
nav .mainMenu li a:hover {
  background: rgb(255, 255, 255);
  color: #41585e;
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.heading {
  height: 450px;
  background-image: url(https://images.pexels.com/photos/4191623/pexels-photo-4191623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  opacity: 0.8;
  padding-top: 4rem;
}

.heading h1 {
  color: white;
  padding: 30px 0 0 30px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Oooh Baby', cursive;
  text-shadow: 5px 5px 10px #000000;
}

span {
  font-family: 'Sail', cursive;
  font-size: 100px;
  font-weight: bold;
}

.products h2 {
  font-family: 'Segoe Print', cursive;
  font-weight: normal;
  font-size: 30px;
  color: #41585e;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
}

.product-list {
  height: 975px;
  padding: 10px 0px;
}

.products {
  animation: ease-in;
}

.clear {
  clear: left;
}

.cake-item {
  box-sizing: border-box;
  position: relative;
  top: 0;
  border: 1px solid black;
  border-radius: 13px;
  text-align: center;
  float: left;
  width: 23%;
  height: 299px;
  margin: 9px;
  color: black;
  transition: top ease 0.5s;
}

.cake-item:hover {
  top: -15px;
  background-color: #41585e;
  color: white;
}

.cake-item img {
  width: 90%;
  height: 177px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.cake-item h4 {
  margin-bottom: 9px;
  font-size: 18px;
  font-family: ABeeZe, cursive;
  font-weight: bold;
}

.cake-item p {
  font-family: ABeeZe, cursive;
  font-size: 16.8px;
}

.custom-section {
  text-align: center;
  height: 110px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.custom-section p {
  font-family: 'Open Sans Light', cursive;
  font-size: 21.8px;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}

.custom-section a {
  font-family: 'Open Sans', cursive;
  font-weight: bold;
  font-size: 27.3px;
  background-color: #41585e;
  color: white;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 13px;
  transition: all 0.5s;
}

.custom-section a:hover {
  transform: scale(1.1);
}

.about-us {
  background-color: #41585e;
  box-sizing: border-box;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

.about-us h3 {
  font-family: Verdana;
  color: white;
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
}

.about-us p {
  font-family: 'Lucida sans';
  letter-spacing: 1px;
  line-height: 25px;
  color: white;
  font-size: 17px;
  text-align: center;
}

.strength-bg {
  background-image: url('https://media-public.canva.com/MADGv4ulDHM/7/screen.jpg');
  background-size: cover;
  filter: brightness(0.3);
  width: 100%;
  height: 450px;
}

.strengthness {
  position: relative;
}

.strengthness h2 {
  position: absolute;
  top: 5%;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 40px;
  font-family: 'Open Sans', cursive;
}

.strength-items {
  margin-top: 15px;
  position: absolute;
  top: 15%;
}

.strength-item {
  padding: 10px 0px;
  box-sizing: border-box;
  float: left;
  width: 47.5%;
  text-align: center;
  color: white;
  margin: 15px;
}

.strength-item .fa {
  transform: scale(2);
  margin-bottom: 10px;
}

.strength-item h3 {
  font-size: 30px;
  font-family: 'Lucida Sans';
  margin-bottom: 5px;
}

.strength-item p {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #41585e;
  color: white;
  padding: 15px 0px;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 7px;
}

.footer li {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
